<h1>
	Hitbliss Catalog
	<button class="filter" data-filter=".movie">all</button>
	<button class="filter" data-filter=".fresh">fresh</button>
	<button class="filter" data-filter=".new">new</button>
</h1>

<div class="catalog">
	<% @movies.each do |movie| %>
		<% freshness = (movie.rt_critics_rating && movie.rt_critics_rating >= 60) ? "fresh" : "rotten" %>
		<% rating = movie.rt_critics_rating || 0 %>
		<%= content_tag :div, class: "movie #{freshness}", "data-rating" => rating do %>
			<%= image_tag movie.image_url %>
			<div class="rating">
				<%= rating %>
			</div>
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.catalog').isotope({
			itemSelector: '.movie',
			getSortData: {
				rating: function($el) {
					return $el.data('rating');
				}
			}
		});
		$('.filter').each(function(index, btn) {
			var $btn = $(btn);
			$btn.click(function() {
				$('.catalog').isotope({
					filter: $btn.data('filter'),
					sortBy: 'rating',
					sortAscending: false
				});
			});
		});
	});
</script>

<style type="text/css">
	.movie {
		width: 181px;
		height: 268px;
		display: inline-block;
		position: relative;
	}
	.rating {
		position: absolute;
		left: 0px;
		top: 0px;
		text-align: center;
		background: red;
		color: white;
		border-radius: 100px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		z-index: 3;
	}
	.movie.rotten .rating {
		background: green;
	}
</style>
